(defsymphony
"27 Animal Crackers"
{:asset-class "EQUITIES", :rebalance-frequency :daily}
(weight-equal
[(group
"Animal Crackers "
[(weight-equal
[(filter
(moving-average-return {:window 10})
(select-top 2)
[(asset "CAT" "Caterpillar Inc.")
(asset "PETS" "PetMed Express, Inc.")
(asset "TIGR" "UP Fintech Holding Ltd. Sponsored ADR Class A")
(asset "DOG" "ProShares Short Dow30")
(asset "DOGZ" "Dogness (International) Corp. Class A")
(asset "BIRD" "Allbirds, Inc. Class A")
(asset "BUCK" "Simplify Stable Income ETF")
(asset "DUK" "Duke Energy Corporation")
(asset "COWS" "Amplify Cash Flow Dividend Leaders ETF")
(asset "COWZ" "Pacer US Cash Cows 100 ETF")
(asset "BEEZ" "Honeytree U.S. Equity ETF")
(asset "BUL" "Pacer US Cash Cows Growth ETF")
(asset
"BULZ"
"MicroSectors Solactive FANG & Innovation 3X Leveraged ETN")
(asset "FROG" "JFrog Ltd.")
(asset "HOG" "Harley-Davidson, Inc.")
(asset "MOO" "VanEck Agribusiness ETF")
(asset "OWL" "Blue Owl Capital, Inc. Class A")
(asset "GOOS" "Canada Goose Holdings, Inc.")
(asset "SNAL" "Snail, Inc. Class A")
(asset "PAWZ" "ProShares Pet Care ETF")
(asset "BUG" "Global X Cybersecurity ETF")
(asset "ZBRA" "Zebra Technologies Corporation Class A")
(asset "WOOF" "Petco Health & Wellness Company, Inc. Class A")
(asset "BFLY" "Butterfly Network, Inc. Class A")
(asset "CALF" "Pacer US Small Cap Cash Cows 100 ETF")])
(filter
(stdev-return {:window 63})
(select-top 1)
[(asset "CAT" "Caterpillar Inc.")
(asset "PETS" "PetMed Express, Inc.")
(asset "TIGR" "UP Fintech Holding Ltd. Sponsored ADR Class A")
(asset "DOG" "ProShares Short Dow30")
(asset "DOGZ" "Dogness (International) Corp. Class A")
(asset "BIRD" "Allbirds, Inc. Class A")
(asset "BUCK" "Simplify Stable Income ETF")
(asset "DUK" "Duke Energy Corporation")
(asset "COWS" "Amplify Cash Flow Dividend Leaders ETF")
(asset "COWZ" "Pacer US Cash Cows 100 ETF")
(asset "BEEZ" "Honeytree U.S. Equity ETF")
(asset "BUL" "Pacer US Cash Cows Growth ETF")
(asset
"BULZ"
"MicroSectors Solactive FANG & Innovation 3X Leveraged ETN")
(asset "FROG" "JFrog Ltd.")
(asset "HOG" "Harley-Davidson, Inc.")
(asset "MOO" "VanEck Agribusiness ETF")
(asset "OWL" "Blue Owl Capital, Inc. Class A")
(asset "GOOS" "Canada Goose Holdings, Inc. Class A")
(asset "SNAL" "Snail, Inc. Class A")
(asset "PAWZ" "ProShares Pet Care ETF")
(asset "BUG" "Global X Cybersecurity ETF")
(asset "ZBRA" "Zebra Technologies Corporation Class A")
(asset "WOOF" "Petco Health & Wellness Company, Inc. Class A")
(asset "BFLY" "Butterfly Network, Inc. Class A")
(asset "CALF" "Pacer US Small Cap Cash Cows 100 ETF")])
(filter
(moving-average-return {:window 100})
(select-top 2)
[(asset "CAT" "Caterpillar Inc.")
(asset "PETS" "PetMed Express, Inc.")
(asset "TIGR" "UP Fintech Holding Ltd. Sponsored ADR Class A")
(asset "DOG" "ProShares Short Dow30")
(asset "DOGZ" "Dogness (International) Corp. Class A")
(asset "BIRD" "Allbirds, Inc. Class A")
(asset "BUCK" "Simplify Stable Income ETF")
(asset "DUK" "Duke Energy Corporation")
(asset "COWS" "Amplify Cash Flow Dividend Leaders ETF")
(asset "COWZ" "Pacer US Cash Cows 100 ETF")
(asset "BEEZ" "Honeytree U.S. Equity ETF")
(asset "BUL" "Pacer US Cash Cows Growth ETF")
(asset
"BULZ"
"MicroSectors Solactive FANG & Innovation 3X Leveraged ETN")
(asset "FROG" "JFrog Ltd.")
(asset "HOG" "Harley-Davidson, Inc.")
(asset "MOO" "VanEck Agribusiness ETF")
(asset "OWL" "Blue Owl Capital, Inc. Class A")
(asset "GOOS" "Canada Goose Holdings, Inc.")
(asset "SNAL" "Snail, Inc. Class A")
(asset "PAWZ" "ProShares Pet Care ETF")
(asset "BUG" "Global X Cybersecurity ETF")
(asset "ZBRA" "Zebra Technologies Corporation Class A")
(asset "WOOF" "Petco Health & Wellness Company, Inc. Class A")
(asset "BFLY" "Butterfly Network, Inc. Class A")
(asset "CALF" "Pacer US Small Cap Cash Cows 100 ETF")])])])]))
